
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: #FFFAFA;
    color: #696969;
}

.logotipo{
    display: flex;
    background-color: FFFAFA;
    flex-wrap: wrap;
    padding-left: 30rem;
    padding-top: 2rem;
}

nav{
    display: flex;
    /* background-color: purple; */
    max-width: 800px;
    margin: auto;
    padding: 2rem;
    flex-direction: row;
    align-items: baseline;
    text-decoration: none;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    column-gap: 30px;
}


h2{
    display: flex;
    padding: 1rem;
    margin: 20px;
    font-size: 1.5rem;
    color: #4682B4;
    text-transform: uppercase;
    background-color: #EEF8FB;
    justify-content: center;
}

h4{
    margin: 20px;
    font-size: 1rem;
    color: #4682B4;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.botoes-menu{
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px; 
    font-size: 16px; 
    color: white; 
    background-color: #4682B4; 
    text-align: center; 
    border-radius: 5px; 
    cursor: pointer; 
} 

.botoes-menu:hover {
    background-color: #009ACD;
}